* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width:1920px;
}
ul {
  list-style: none;
}
@font-face {
    font-family: "baloo_paaji_2regular";
    src: url("./Components/assets/fonts/baloopaaji2-regular-webfont.woff2")
            format("woff2"),
        url("./Components/assets/fonts/baloopaaji2-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}
